---
import { OTPVerification } from "../../components/Auth/OTPVerification";
import AuthLayout from "../../layouts/AuthLayout.astro";
const phone = Astro.url.searchParams.get("phone");
---

<AuthLayout label="Verificar Teléfono">
  <div class="flex flex-col gap-4 items-center w-full max-w-md">
    <OTPVerification client:only phone={phone}/>
    <span class="text-center text-xs text-gray-600">
      ¿Introduciste algun dato incorrecto?, haz click <a
        class="text-heart-600"
        href="/auth/signup">Aquí Para Corregirlo</a
      ></span
    >
  </div>
</AuthLayout>
