---
import Layout from "../layouts/Layout.astro";
import { Auth as AuthComponent } from "../components/Auth";
---

<Layout title="Auth | 4Negrita">
  <div class="min-h-screen bg-background flex flex-col w-content">
    <AuthComponent client:load />
  </div>
</Layout>

<script>
  import { stateManager } from "@/lib/stores";
  import { supabase } from "@/lib/supabase";

  const { data: raffles, error } = await supabase.from("raffle").select("*");

  console.log("raffles", raffles);

  stateManager.subscribe((state: any) => {
    console.log("state", state);
  });

  stateManager.setState({
    raffles,
    // other: "P127HTAMO5K2BC_P677DM2MO8C15O_P247IRAOBS2SJG",
  });
</script>
