---
import Layout from "../layouts/Layout.astro";
import { Auth as AuthComponent } from "../components/Auth";
import { supabase } from "@/lib/supabase";

const { url } = Astro.request;
const params = new URL(url).searchParams;



let { data: raffle, error } = await supabase
  .from("raffle")
  .select("totalTickets");

console.log("raffle", raffle);
---

<Layout  title="Auth | 4Negrita">
  <div class="min-h-screen bg-background flex flex-col w-content">
    <AuthComponent raffle={raffle} client:load />
  </div>
</Layout>
