---
import { PaymentCheckout } from "@/components/Payment/PaymentCheckout";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Checkout | 4Negrita">
  <div class="min-h-screen bg-background flex flex-col pt-32">
    <PaymentCheckout client:only/>
  </div>
</Layout>
