---
import Layout from "../layouts/Layout.astro";
import { UserSettings } from "@/components/Dashboard/UserSettings";
import { SecuritySettings } from "@/components/Dashboard/SecuritySettings";
import { Button } from "@/components/ui/button";
import { HomeIcon } from "lucide-react";
import { LogoutButton } from "@/components/Dashboard/LogoutButton";
import { OwnedTickets } from "@/components/Dashboard/OwnedTickets";
import { authStore } from "@/stores/authStore";
const authState = Astro.url.searchParams.get("auth");
if (authState) {
  authStore.setSerializedState(authState);
}
console.log(authStore.getState());
---

<Layout title="Perfil | 4Negrita">
  <div class="min-h-screen flex flex-col bg-gray-50 pt-32">
    <div
      class="flex-1 container mx-auto px-4 py-8 flex flex-col gap-4 items-center"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-6xl mx-auto">
        <div class="col-span-full flex justify-between">
          <a href={`/`}>
            <Button variant="ghost" className="pt-2 pb-2 pl-4 pr-6 text-1xl ">
              <HomeIcon className="mr-1 h-4 w-4" />
              Inicio
            </Button>
          </a>
          <LogoutButton client:load />
        </div>
        <UserSettings client:load />
        <SecuritySettings client:load />
        <OwnedTickets />
      </div>
    </div>
  </div>
</Layout>
