---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import StorySection from "../components/StorySection.astro";
import RaffleDetails from "../components/RaffleDetails.astro";
import ProgressSection from "../components/ProgressSection.astro";
import FAQSection from "../components/FAQSection.astro";
import CallToAction from "../components/CallToAction.astro";
---

<Layout title="Home | 4Negrita">
  <main>
    <Hero />
    <StorySection />
    <RaffleDetails />
    <ProgressSection />
    <FAQSection client:visible />
    <CallToAction />
  </main>
</Layout>
