---
import Layout from "../layouts/Layout.astro";
import { TicketsHUB } from "../components/Tickets/TicketsHUB";
import { stateManager } from "@/stores/stores";
import { supabase } from "@/lib/supabase";
const state = Astro.url.searchParams.get("app");
const wasCanceled = Astro.url.searchParams.get("canceled");
if (state) {
  stateManager.setSerializedState(state);
}
let selectedTickets = stateManager.getState().selectedTickets;
if (selectedTickets.length > 0 && wasCanceled === "true") {
  console.log("canceled");
  console.log({ selectedTickets });
  supabase
    .from("ticket")
    .update({ status: "available" })
    .in("number", selectedTickets)
    .then((res: any) => {
      console.log({ res });
    })
    .catch((err: any) => {
      console.log(err);
    });
  selectedTickets = [];
  Astro.url.searchParams.toString().replace("?canceled=true", "");
  stateManager.setState({ selectedTickets });
}
// ! Check if tickets, drawId and raffleId are in stateManager
let { tickets, drawId, raffleId } = stateManager.getState();

if (!drawId || !raffleId) {
  const [drawData] = await Promise.all([
    supabase
      .from("draw")
      .select("raffleId, limitDate, playDate, raffle(*)")
      .single(),
  ]);
  stateManager.setState({ drawId: drawData?.data?.id });
  raffleId = drawData?.data?.raffleId;
}
// console.log({ tickets });
if (!tickets) {
  const [{data:ticketsData}] = await Promise.all([
    supabase
      .from("ticket")
      .select("number, digits, status, reservedUntil, id")
      .eq("raffleId", raffleId),
  ]);
  stateManager.setState({ tickets: ticketsData.data });
  tickets = ticketsData.data;
  // console.log({ tickets });
}
// console.log({ tickets });
const checkTicketsStatus = () => {
  if (!tickets) return;
  tickets.forEach((ticket: any) => {
    if (ticket.status === "reserved") {
      const reservedUntil = new Date(ticket.reservedUntil).getTime();
      const now = new Date().getTime();
      if (reservedUntil < now || reservedUntil === null) {
        console.log({ reservedUntil, now, ticket });
        ticket.status = "available";
        ticket.reservedUntil = null;
        console.log("updating to available");
        supabase
          .from("ticket")
          .update({ status: "available", reservedUntil: null })
          .eq("number", ticket.number)
          .eq("raffleId", raffleId)
          .then((res: any) => {
            console.log({ res });
          })
          .catch((err: any) => {
            console.log(err);
          });
      }
    }
  });
};
checkTicketsStatus();
---

<Layout title="Tickets | 4Negrita">
  <div class="min-h-screen bg-background flex flex-col">
    <TicketsHUB
      client:only
      createdTickets={tickets}
      drawId={drawId}
      raffleId={raffleId}
    />
  </div>
</Layout>

<script>
  import { stateManager } from "@/stores/stores";
  const urlSearchParams = new URLSearchParams(window.location.search);
  const wasCanceled = urlSearchParams.get("canceled");
  const app = urlSearchParams.get("app");
  if (app) {
    stateManager.setSerializedState(app);
  }
  console.log("client", stateManager.getState());
  const { drawId, raffleId, tickets, selectedTickets, userId } =
    stateManager.getState();
  if (wasCanceled === "true") {
    stateManager.setState({ selectedTickets: [] });
    sessionStorage.setItem("paymentData", JSON.stringify({}));
    urlSearchParams.delete("canceled");
    window.history.pushState(
      null,
      "",
      window.location.pathname + "?" + urlSearchParams.toString()
    );
  }
  if (!drawId || !raffleId || !tickets || !selectedTickets || !userId) {
    // stateManager.setState({
    //   drawId: null,
    //   raffleId: null,
    //   tickets: null,
    //   selectedTickets: [],
    //   userId: null,
    // });
  }
</script>
