---
import Layout from "../layouts/Layout.astro";
import { TicketsHUB } from "../components/Tickets/TicketsHUB";
---

<Layout title="Tickets | 4Negrita">
  <div class="min-h-screen bg-background flex flex-col">
    <TicketsHUB client:only />
  </div>
</Layout>

