---
import Layout from "../layouts/Layout.astro";
import { TicketsHUB } from "../components/Tickets/TicketsHUB";
import { stateManager } from "@/stores/stores";
import { supabase } from "@/lib/supabase";
const state = Astro.url.searchParams.get("app");
const wasCanceled = Astro.url.searchParams.get("canceled");
if (state) {
  stateManager.setSerializedState(state);
}
let selectedTickets = stateManager.getState().selectedTickets;
if (selectedTickets.length > 0 && wasCanceled === "true") {
  console.log({ wasCanceled, selectedTickets });
  supabase
    .from("ticket")
    .update({ status: "available" })
    .in("number", selectedTickets)
    .then((res: any) => {
      console.log(res);
    })
    .catch((err: any) => {
      console.log(err);
    });
  selectedTickets = [];
  Astro.url.searchParams.toString().replace("?canceled=true", "");
  stateManager.setState({ selectedTickets });
}
let { tickets, drawId } = stateManager.getState();

let raffleId;
if (!drawId) {
  const [drawData] = await Promise.all([
    supabase
      .from("draw")
      .select("raffleId, limitDate, playDate, raffle(*)")
      .single(),
  ]);
  stateManager.setState({ drawId: drawData?.data?.id });
  raffleId = drawData?.data?.raffleId;
}
if (!tickets) {
  const [ticketsData] = await Promise.all([
    supabase
      .from("ticket")
      .select("number, digits, status, reservedUntil, id")
      .eq("raffleId", raffleId),
  ]);
  stateManager.setState({ tickets: ticketsData.data });
  tickets = ticketsData.data;
}
const checkTicketsStatus = () => {
  tickets.forEach((ticket: any) => {
    if (ticket.status === "reserved") {
      const reservedUntil = new Date(ticket.reservedUntil).getTime();
      const now = new Date().getTime();
      if (reservedUntil < now || reservedUntil === null) {
        ticket.status = "available";
        supabase
          .from("ticket")
          .update({ status: "available" })
          .eq("id", ticket.id)
          .then((res: any) => console.log({ res }));
      }
    }
  });
};
checkTicketsStatus();
---

<Layout title="Tickets | 4Negrita">
  <div class="min-h-screen bg-background flex flex-col">
    <TicketsHUB client:only createdTickets={tickets} />
  </div>
</Layout>

<script>
  import { stateManager } from "@/stores/stores";
  const urlSearchParams = new URLSearchParams(window.location.search);
  const wasCanceled = urlSearchParams.get("canceled");
  if (wasCanceled === "true") {
    console.log({ wasCanceled });
    stateManager.setState({ selectedTickets: [] });
    urlSearchParams.delete("canceled");
    window.history.pushState(
      null,
      "",
      window.location.pathname + "?" + urlSearchParams.toString()
    );
  }
</script>
