---
import Layout from "../layouts/Layout.astro";
import { TicketsHUB } from "../components/Tickets/TicketsHUB";
---

<Layout title="Tickets | 4Negrita">
  <div class="min-h-screen bg-background flex flex-col">
    <TicketsHUB client:visible />
  </div>
</Layout>

<script>
  import { stateManager } from "@/lib/stores";

  stateManager.subscribe((state: any) => {
    console.log("state", state);
  });

  // stateManager.setState({
  //   tickets: [1, 2, 3],
  //   // other: "P127HTAMO5K2BC_P677DM2MO8C15O_P247IRAOBS2SJG",
  // });
</script>
