---
import Layout from "@/layouts/Layout.astro";
import PaymentSuccess from "@/components/Payment/PaymentSuccess.astro";
import PaymentCanceled from "@/components/Payment/PaymentCanceled.astro";
import { decodeRaffleReference } from "@/lib/genRefCode";
const transactionId = Astro.url.searchParams.get("id");
const canceledStatuses: string[] = ["DECLINED", "VOIDED", "ERROR"];
let maxPollingRetries = 3;
const { status, payment_method, status_message, reference, amount_in_cents, ...result }: any =
  await new Promise((resolve, reject) => {
    const intervalId = setInterval(() => {
      maxPollingRetries--;
      if (maxPollingRetries === 0) {
        clearInterval(intervalId);
      }
      fetch("https://sandbox.wompi.co/v1/transactions/" + transactionId).then(
        (res: any) =>
          res
            .json()
            .then(({ data }: any) => {
              clearInterval(intervalId);
              resolve(data);
            })
            .catch((err: any) => {
              clearInterval(intervalId);
              reject(err);
            })
      );
    }, 1000);
  });
const selectedTickets = decodeRaffleReference(reference)?.tickets || [];

console.log({ result });
---

<Layout title="Resultado del pago | 4Negrita"
  ><div
    class="min-h-screen bg-background flex flex-col pt-16 justify-center items-center"
  >
    {
      status === "APPROVED" && (
        <PaymentSuccess
          transactionId={transactionId || ""}
          paymentMethod={payment_method.type || ""}
          referenceCode={result.reference_code || ""}
          selectedTickets={selectedTickets}
          totalAmount={amount_in_cents / 100 || 0}
          /* ! Hay que revisar la obtencion del email */
          email={result.customer_email || ""}
        />
      )
    }
    {
      canceledStatuses.includes(status) && (
        <PaymentCanceled
          transactionId={transactionId || ""}
          paymentMethod={payment_method.type || ""}
          statusMessage={status_message || ""}
        />
      )
    }
    {
      !status && (
        <div>
          <p>Transacción no encontrada</p>
        </div>
      )
    }
  </div>
</Layout>
