---
import Layout from "@/layouts/Layout.astro";
import { PaymentSuccess as PaymentSuccessComponent } from "@/components/Payment/PaymentSuccess";
---

<Layout title="Pago exitoso | 4Negrita">
  <div class="min-h-screen bg-background flex flex-col pt-16">
    <PaymentSuccessComponent client:load />
  </div>
</Layout>
