---
import { Button } from "@/components/ui/button";
import { FAQAccordion } from "./FAQAccordion";
import faqs from "@/mocks/faqs.json";
---

<section id="faq" class="container-section">
  <div class="max-w-3xl mx-auto">
    <h2 class="text-2xl md:text-3xl font-bold text-center mb-10">
      Preguntas Frecuentes
    </h2>

    <div class="mt-10 text-center">
      <p class="mb-4">¿No encuentras la respuesta que buscas?</p>
      <Button variant="link" className="text-heart-600">Contáctanos</Button>
    </div>
    <FAQAccordion client:visible faqs={faqs} />
  </div>
</section>
