---
import Layout from "./Layout.astro";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import { HomeIcon } from "lucide-react";

const { label } = Astro.props;
const redirect = Astro.url.searchParams.get("redirect");
---

<Layout title={label}>
  <div class="flex-1 flex justify-center items-center h-screen w-full">
    <div class="flex flex-col gap-4 items-center w-full max-w-md">
      <a class="w-full flex justify-end" href={redirect ? redirect : `/`}>
        <Button variant="ghost" className="pt-2 pb-2 pl-4 pr-6 text-1xl ">
          <HomeIcon className="mr-1 h-4 w-4" />
          Inicio
        </Button>
      </a>
      <Card className="w-full max-w-full">
        <CardHeader>
          <CardTitle className="text-center text-2xl text-heart-600">
            {label}
          </CardTitle>
        </CardHeader>
        <CardContent>
          <slot />
        </CardContent>
      </Card>
    </div>
  </div>
</Layout>
