---
import { supabase } from "@/lib/supabase";

const { url } = Astro.request;
const params = new URL(url).searchParams;

let { data: raffle, error } = await supabase
  .from("raffle")
  .select("totalTickets");
---

<div>
  <slot id="__state_wrapper" />
</div>

<script>
  const stateWrapper = document.getElementById("__state_wrapper");
  console.log({ stateWrapper });
</script>
