---
import "@/styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { Toaster } from "@/components/ui/toaster";
import { TooltipProvider } from "@/components/ui/tooltip";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "4Negrita"}</title>
    <script
      type="text/javascript"
      src="https://wompijs.wompi.com/libs/js/v1.js"
      data-public-key="pub_test_HJitXNE9KtiDp1vlXYPYIQ85qkl0GZqr"></script>
    <ClientRouter />
  </head>
  <body>
    <TooltipProvider>
      <Toaster client:visible />
      <div class="min-h-screen bg-background">
        <Navbar />
        <slot />
        <Footer />
      </div>
    </TooltipProvider>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
