---
import "@/styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { Toaster } from "@/components/ui/toaster";
import { TooltipProvider } from "@/components/ui/tooltip";
import { ClientRouter } from "astro:transitions";
import { stateManager } from "@/stores/stores";
import WarningBanner from "../components/WarningBanner.astro";

const { title } = Astro.props;
const clear = Astro.url.searchParams.get("clear");
if (clear) {
  stateManager.setState({
    drawId: null,
    raffleId: null,
    tickets: null,
    selectedTickets: [],
    userId: null,
  });
  Astro.url.searchParams.delete("clear");
  Astro.url.toString().replace("?clear=true", "");
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "4Negrita"}</title>
    <script type="text/javascript" src="https://checkout.wompi.co/widget.js"
    ></script>
    <ClientRouter />
  </head>
  <body>
    <TooltipProvider>
      <Toaster client:only />
      <div class="min-h-screen bg-background">
       {import.meta.env.PUBLIC_APP_MODE === "testing" && <WarningBanner
          message="⚠️ APLICACIÓN EN MODO DE PRUEBA ⚠️"
          backgroundColor="#ffeb3b88"
          textColor="#000000cc"
          stripeColor="#ff572288"
          animationSpeed="3s"
          height="60px"
          zIndex={9999}
        />}
        <Navbar />
        <slot />
        <Footer />
      </div>
    </TooltipProvider>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  import { checkLogState } from "@/lib/checkLogState";
  import { toast } from "@/hooks/useToast";
  const isExpired = checkLogState();
  if (isExpired && window.location.pathname !== "/") {
    toast({
      title: "Sesión expirada",
      description: "Tu sesión ha expirado. Por favor, inicia sesión de nuevo.",
      variant: "destructive",
      duration: 3000,
    });
    window.location.href = "/";
  }
</script>
